extends layout

block head
  script(src='/javascripts/tweetsHelper.js')

block content
  h1= title
  p Results searched by #{search_phrase}
  ul.container
    each tweet in tweet_list
      li.row.tweet
        div.col-md
          h7.thick #{tweet.user.name} 
          a(href=tweet.user.url) @#{tweet.user.twitter_handle}
          p Tweet: #{tweet.tweet.text}
          p #{tweet.tweet.date}
          div.container
            div.row
              div.col-sm
                form(method='POST' action='/create_friendship' target='hidden_iframe')
                  input#name.form-control(type='text', name='follower_id', value=(tweet.user.id),required='true', hidden='true')
                  button.btn.btn-light(type='submit') follow

              div.col-sm
                form.col-sm(method='POST' action='/create_retweet' target='hidden_iframe')
                  input#name.form-control(type='text', name='tweet_id', value=(tweet.tweet._id), required='true', hidden='true')
                  button.btn.btn-light(type='submit') retweet

              div.col-sm
                form.col-sm(method='POST' action='/create_favorite' target='hidden_iframe')
                  input(type='text', name='tweet_id', value=(tweet.tweet._id), required='true', hidden='true')
                  button.btn.btn-light(type='submit') like
          
        div.col-md
          form(method='POST' action='/reply_to_tweet' target='hidden_iframe')
            .form-group
              input(type='text', name='tweet_id', value=(tweet.tweet._id), required='true', hidden='true')
              label(for='status') Reply
              textarea#name.form-control(name='status', value=`${tweet.user.twitter_handle}`, minlength='1', maxlength= '280', rows='5' required='true')
            div.container
              div.row
                div.col-sm.offset-sm-9
                  button.btn.btn-primary(type='submit') reply
        
    else
      li There are no tweets with that phrase you dumby.
